{% load static %}
<nav class="navbar sticky-top navbar-expand-lg bg-white pt-3 pb-3 shadow">
  <div class="container">
    <header class="col-4">
      <img
        src="{% static 'img/logo.png' %}"
        alt="Little Lemon Logo"
        height="52px"
        width="190px"
      />
    </header>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-5 custom-navbar">
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link header-hover"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-hover" href="{% url 'about' %}"> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-hover" href="{% url 'menu' %}"> Menu </a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-hover" href="{% url 'booking' %}">
            Booking
          </a>
        </li>
        <li class="nav-item order-btn">
          {% if user.is_authenticated %}
          <button
            type="button"
            class="nav-link text-white"
            data-bs-toggle="modal"
            data-bs-target="#logoutModal"
          >
            Logout
          </button>
          {% else %}
          <a href="/login/" class="nav-link text-white">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <script>
    let currentUrl = window.location.pathname;

    document
      .querySelectorAll(".navbar-nav a.nav-link")
      .forEach(function (link) {
        link.classList.remove("active");
      });

    document
      .querySelectorAll(".navbar-nav a.nav-link")
      .forEach(function (link) {
        var linkUrl = new URL(link.href).pathname;
        if (linkUrl === currentUrl) {
          link.classList.add("active");
        }
      });
  </script>
</nav>
