/* ------ VARIABLES ----- */

:root {
  --primary-color: #f4ce14;
  --secondary-color: #495e57;
  --primary-font: "Markazi Text", serif;
  --secondary-font: "Karla", sans-serif;
}

body {
  font-family: "Karla", sans-serif;
}

.primary-font {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.secondary-font {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  min-height: calc(100vh - 420px);
}

.custom-bg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/restaurant_inside.jpg");
  background-size: cover;
  background-position: 75%;
  color: white;
  min-height: 200px;
  text-align: center;
}

.custom-primary {
  color: var(--primary-color);
}

.custom-secondary {
  background-color: var(--secondary-color);
}

.custom-btn {
  background-color: var(--primary-color);
  border: none;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 50px;
  width: 200px;
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}

.custom-btn:hover {
  transform: scale(1.1);
}

.custom-btn:active {
  transform: scale(0.9);
}

.small-btn {
  background-color: var(--primary-color);
  color: #000;
  border: none;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 30px;
  width: 110px;
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}

.small-btn:hover {
  transform: scale(1.1);
}

.small-btn:active {
  transform: scale(0.9);
}

.order-btn {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 30px;
  width: 120px;
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.order-btn:hover {
  transform: scale(1.1);
}

.order-btn:active {
  transform: scale(0.9);
}

.header-hover {
  transition: 0.4s ease;
}

.header-hover:hover {
  transform: scale(1.1);
}

.header-hover:active {
  transform: scale(0.9);
}

.footer-hover {
  transition: 0.4s ease;
}

.footer-hover:hover {
  transform: scale(1.1) translate(7px);
}

.footer-hover:active {
  transform: scale(0.9) translate(-7px);
}

.container-relative {
  position: relative;
}

.container-absolute {
  position: absolute;
  top: 0;
}

.custom-rounded {
  border-radius: 15px;
}

.custom-rounded-top {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.section-margin {
  margin-top: 60px;
  margin-bottom: 100px;
}

.section-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-shadow {
  text-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.2);
}

.main-card {
  height: 470px;
  width: 320px;
}

.special-img-1 {
  position: absolute;
  height: 360px;
  width: 260px;
  top: 0px;
  right: 60px;
  object-fit: cover;
  object-position: 60%;
}

.special-img-2 {
  position: absolute;
  height: 360px;
  width: 260px;
  top: 80px;
  left: 90px;
  object-fit: cover;
  object-position: 70%;
}

.secondary-card {
  height: 486px;
  width: 260px;
}

.padding-left {
  padding-left: 50px;
}

.padding-right {
  padding-right: 50px;
}

label {
  font-weight: bold;
  display: block;
}

input,
select {
  width: 100%;
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  margin-top: 4px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/down-arrow.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}

.appoint-btn {
  margin-top: 36px;
  padding: 0.7rem 0;
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 100%;
  font-size: 1.25rem;
  display: block;
  color: #000;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.2);
  line-height: 25px;
  transition: 0.5s ease;
}

.appoint-btn:hover {
  transform: scale(1.05);
}

.appoint-btn:active {
  transform: scale(0.9);
}

.section-container {
  min-height: calc(100vh - 490px);
}

.auth-container {
  width: 512px;
  background-color: #fff;
}

.divider {
  width: 70%;
  height: 1.2px;
  background-color: var(--secondary-color);
}

.custom-border {
  border: 1px solid rgba(73, 94, 87, 0.6);
  border-radius: 15px;
}

.custom-gradient {
  background: linear-gradient(to bottom, #495e57, #ffffff);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* ---------- MOVIL MEDIA QUERIES ---------- */

@media (max-width: 992px) {
  .main-container {
    min-height: calc(100vh - 140px);
  }

  .section-container {
    min-height: calc(100vh - 140px);
  }
}

@media (max-width: 425px) {
  .custom-navbar {
    margin-top: 30px;
    margin-left: 46px;
  }

  .order-btn {
    margin-bottom: 30px;
    margin-left: -14px;
  }

  .main-card {
    width: 90%;
    height: 100%;
  }

  .special-img-1 {
    height: 70%;
    width: 56%;
    right: 20px;
  }

  .special-img-2 {
    height: 70%;
    width: 56%;
    top: 80px;
    left: 20px;
  }

  .secondary-card {
    width: 90%;
    height: 100%;
  }

  .padding-left {
    padding-left: 15px;
    padding-top: 30px;
  }

  .padding-right {
    padding-right: 15px;
    padding-bottom: 30px;
  }

  .auth-container {
    width: 95%;
  }
}

/* ------ Rating Styles ----- */

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 1.6rem;
  color: #ffd600;
  cursor: pointer;
}
.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.plain-rating {
  display: flex;
}

.plain-rating > span {
  width: 1em;
  font-size: 1.6rem;
  color: #ffd600;
}

/* ------ END Rating Styles ----- */
