{% extends 'base.html' %} {% load static %} {% block content %}

<div class="custom-gradient" style="height: 500px"></div>
<section class="container pt-3">
    <div class="d-flex justify-content-between mb-3">
      <h5 class="display-4 primary-font mb-4 text-shadow" style="font-weight: 600">
        This Season Menu!
      </h5>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4">
      {% for item in items %}
      <article class="card custom-rounded shadow secondary-card">
        <img
          src="{% static 'img/bruschetta.jpg' %}"
          height="240px"
          class="card-img-top custom-rounded-top"
        />
        <div class="card-body">
          <h5 class="card-title mt-1">Bruschetta</h5>
          <p class="card-text pt-1">
            Our Bruschetta is made from grilled bread that has been smeared with garlic, seasoned with salt, and drizzled with olive oil, creating a delightful appetizer.
          </p>
        </div>
      </article>
      {% endfor %}
    </section>

{% endblock %}
