{% extends 'base.html' %} {% load static %} {% block content %}

<section class="custom-secondary">
  <div class="container" style="height: 390px">
    <div class="row">
      <div
        class="col col-md-4 d-flex flex-column justify-content-evenly text-shadow"
        style="height: 340px; padding-top: 40px"
      >
        <h1 class="display-2 custom-primary primary-font">
          <small>Little Lemon</small>
        </h1>
        <span class="text-white lead pb-2"><strong>Chicago</strong></span>
        <p class="text-white lead">
          <small>
            We are a family owned Mediterranean restaurant, focused on
            traditional recipes served with a modern twist.
          </small>
        </p>
        <a href="{% url 'booking' %}" class="mt-2 text-decoration-none">
          <button class="custom-btn">Book a Table</button>
        </a>
      </div>
      <div class="col-md-2"></div>
      <div
        class="col col-md-6 d-none d-md-flex justify-content-center mt-5 container-relative"
        style="height: 320px"
      >
        <img
          src="{% static 'img/hero.webp' %}"
          height="434px"
          width="320px"
          class="custom-rounded absolute container-absolute"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="container section-margin">
  <h2 class="display-4 primary-font mb-4 text-shadow" style="font-weight: 600">
    Discover our restaurant!
  </h2>
  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-5 gap-md-4"
  >
    <article class="card custom-rounded shadow main-card custom-border">
      <img
        src="{% static 'img/opening_hours.webp' %}"
        class="card-img-top custom-rounded-top"
        width="240px"
      />
      <div class="card-body">
        <h4 class="card-title mt-1">Opening Hours</h4>
        <p class="card-text pt-1">
          The Little Lemon Restaurant is open 7 days a week, except for public
          holidays and special occasions.
        </p>
        <ul>
          {% for item in opening_hours %}
          <li>{{item.days}}: {{item.opening_hour}} - {{item.closing_hour}}</li>
          {% endfor %}
        </ul>
      </div>
    </article>

    <article class="card custom-rounded shadow main-card custom-border">
      <img
        src="{% static 'img/grill.webp' %}"
        class="card-img-top custom-rounded-top"
        width="240px"
      />
      <div class="card-body">
        <h4 class="card-title mt-1">Our New Menu</h4>
        <p class="card-text pt-1">
          Our menu consists of 12-15 seasonal items based on Italian, Greek, and
          Turkish culture.
        </p>
        <a
          href="{% url 'menu' %}"
          class="d-flex justify-content-center pt-3 text-decoration-none"
        >
          <button class="custom-btn">Browse Menu</button>
        </a>
      </div>
    </article>

    <article class="card custom-rounded shadow main-card custom-border">
      <img
        src="{% static 'img/salad.webp' %}"
        class="card-img-top custom-rounded-top"
        width="240px"
      />
      <div class="card-body">
        <h4 class="card-title mt-1">Book a table</h4>
        <p class="card-text pt-1">
          Reserve your table online for an Italian, Greek, and Turkish dining
          experience at our restaurant.
        </p>
        <a
          href="{% url 'booking' %}"
          class="d-flex justify-content-center pt-3 text-decoration-none"
        >
          <button class="custom-btn">Book a Table</button>
        </a>
      </div>
    </article>
  </div>
</section>

<section class="custom-secondary section-padding">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2">
      <div
        class="col d-flex flex-column justify-content-evenly text-white text-shadow py-5"
      >
        <h2 class="pb-1">Little Lemon</h2>
        <p>
          Little Lemon is owned by two Italian brothers, Mario and Adrian, who
          moved to the United States to pursue their shared dream of owning a
          restaurant.
        </p>
        <p>
          To craft the menu, Mario relies on family recipes and his experience
          as a chef in Italy. Adrian does all the marketing for the restaurant
          and led the effort to expand the menu beyond classic Italian to
          incorporate additional cuisines from the Mediterranean region.
        </p>
        <a href="{% url 'about' %}" class="mt-3">
          <button class="custom-btn">More about us</button>
        </a>
      </div>
      <div class="col container-relative" style="height: 440px">
        <img
          src="{% static 'img/about-1.webp' %}"
          alt=""
          class="custom-rounded special-img-1"
        />
        <img
          src="{% static 'img/about-2.webp' %}"
          alt=""
          class="custom-rounded special-img-2"
        />
      </div>
    </div>
  </div>
</section>

<section class="container section-margin">
  <div class="d-flex justify-content-between mb-3">
    <h3
      class="display-4 primary-font mb-4 text-shadow"
      style="font-weight: 600"
    >
      This week specials!
    </h3>
    <span class="mt-1 d-none d-md-block">
      <a href="{% url 'menu' %}">
        <button class="custom-btn">Discover selections</button>
      </a>
    </span>
  </div>
  <div
    class="d-flex flex-column flex-md-row flex-wrap justify-content-between align-items-center gap-4"
  >
    {% for menu in menus %}
    <a
      href="{% url 'item' pk=menu.pk %}"
      class="text-decoration-none custom-hover"
    >
      <article class="card custom-rounded shadow secondary-card custom-border">
        <img
          src="{{ menu.image.url }}"
          style="aspect-ratio: 3/2.5"
          class="card-img-top custom-rounded-top"
        />
        <div class="card-body">
          <h5 class="card-title mt-1">{{ menu.name }}</h5>
          <p class="card-text pt-1">{{ menu.description }}</p>
        </div>
      </article>
    </a>
    {% endfor %}
    <span class="mt-1 d-block d-md-none">
      <a href="{% url 'menu' %}">
        <button class="custom-btn">Discover selections</button>
      </a>
    </span>
  </div>
</section>

{% endblock %}
